/********************* Global Code ****************/
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}
:root {
  --main-color: #7550e3;
  --sec-color: #fb397d;
  --main-bg: #000;
}
span,
a,
img {
  display: inline-block;
}
img {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: 2px solid #a883e9;
  border-radius: 24px 24px 24px 0;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  width: 11rem;
  padding: 1rem 0;
  transition: 0.5s;
}
.btn:hover {
  background-color: var(--sec-color);
}
section,
footer {
  padding: 4rem 0;
}
.p {
  color: grey;
}
i {
  color: var(--sec-color);
  padding-bottom: 1.5rem;
  font-size: 2rem;
}
.heading {
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 5rem;
}
.heading::after {
  content: "";
  display: block;
  background-color: var(--sec-color);
  width: 5rem;
  height: 2px;
  margin: 15px auto;
}
/************** End Global ****************/
header {
  height: 850px;
  background-image: url("../assets/imgs/bg-img/welcome-bg.png");
  background-size: cover;
  background-position: bottom;
  color: #fff;
}
.header__form .btn {
  width: 10rem;
  border: transparent 1px solid;
}
nav {
  background-color: transparent;
  padding: 1.5rem 0;
}
.navbar__logo {
  width: 10%;
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar__list {
  width: 60%;
}
.mobile__nav {
  display: none;
}
.header {
  position: relative;
  padding-top: 8rem;
}
.header__text h1 {
  margin-top: 3rem;
  font-size: 6rem;
  margin-bottom: 2rem;
}
.header__text {
  position: relative;
}
.header__text::before {
  content: "c";
  display: inline-block;
  position: absolute;
  font-size: 27rem;
  font-weight: 600;
  top: -80%;
  left: 2%;
  opacity: 0.1;
}
.header__form {
  width: 40%;
  margin-top: 5rem;
}
.header__form button {
  background-color: var(--sec-color);
}
.header__form button:hover {
  background-color: var(--main-color);
}
.header__form input {
  color: #fff;
  width: 54%;
  border-radius: 40px;
  border: transparent 1px solid;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
.header__img {
  position: absolute;
  top: 74%;
  right: -7%;
  width: 58%;
}
/******************* End header *************/

/************** Start Special  ****************/
.special__articles {
  margin-top: 2rem;
}
.special__articles__cart {
  width: 30%;
  text-align: center;
  padding: 3.5rem 1rem;
  border: 1px solid #eee;
  border-radius: 24px;
  transition: 0.5s;
}
.special__articles__cart:hover {
  box-shadow: 5px 5px 5px #eee;
}
.special__articles__cart h3 {
  margin-bottom: 0.5rem;
  color: var(--main-color);
}
.special__articles__cart p {
  width: 90%;
  text-align: center;
  margin: auto;
}
/************** End Special  ****************/

/************** Start Propositions  ****************/
.Propositions .row {
  padding-top: 5rem;
  align-items: start;
}
.Propositions__img {
  width: 45%;
}
.Propositions__text {
  width: 45%;
}
.Propositions__text h2 {
  font-size: 3.5rem;
  color: var(--main-color);
  font-weight: lighter;
}
.Propositions__text p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.Propositions .btn i {
  color: grey;
  width: 15%;
  font-size: 2rem;
  margin-right: 1rem;
}
.Propositions .Propositions__text .row {
  justify-content: center;
  color: grey;
  margin-top: -1rem;
}

.Propositions .Propositions__text .row a {
  color: grey;
}
.Propositions .btn {
  width: 40%;
  border: 1px solid #eee;
  background-color: #fff;
  color: grey;
  padding: 0.3rem 0 0;
  margin-right: 3rem;
}
.Propositions .btn:hover {
  background-color: var(--sec-color);
}
.Propositions .Propositions__text .row a:hover,
.Propositions .Propositions__text .row a:hover i {
  color: #fff;
}
/************** End Propositions  ****************/

/************** Start features  ****************/
.features {
  padding-bottom: 0;
}
.features__articles__cart {
  text-align: left;
  width: 31%;
  padding: 1rem;
  margin-bottom: 2rem;
}
.features__articles__cart h2 {
  color: var(--main-color);
  display: inline-block;
  margin-left: 0.8rem;
}
.features__articles__cart p {
  font-size: 1.2rem;
}
.features p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.app_imgs_card {
  width: 20%;
}

/************** End features  ****************/
/********************* start media ************/
.media {
  padding-top: 1rem;
}
.media__play i {
  position: relative;
  top: 10em;
  left: 18em;
  font-size: 2rem;
  color: #fff;
  margin: 10px;
  z-index: 3;
}
.media i::after {
  content: "";
  position: absolute;
  top: -1.4rem;
  right: -1.3rem;
  display: inline-block;
  background-color: var(--sec-color);
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  z-index: -3;
}
.media video {
  margin: 0 auto -17rem;
  display: flex;
}
video[poster] {
  height: 540px;
  width: 80% !important;
  border: 20px #fff solid;
  border-radius: 20px;
}
video img {
  border: white 1px solid;
  border-radius: 10px;
  width: 80%;
}
.achievement__grid__container {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
  background: linear-gradient(to left, #7873ed, #a865e1);
  padding: 13rem 13rem 4rem;
}
.achievement__data__content__number {
  display: inline-block;
  font-size: 2rem;
}
.achievement__data__content__detail {
  padding-left: 1rem;
  display: inline-block;
}

.achievement__data__content__detail i {
  padding-bottom: 10px;
  color: #fff;
}

.achievement__data__content__detail p {
  font-size: 1rem;
  font-weight: 100;
}

/********************* End media *************/

/************** Start App  ****************/
.app__imgs__card {
  width: 20%;
  padding: 4rem 1rem;
}
.app__circle span {
  width: 0.7rem;
  height: 0.7rem;
  line-height: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 1rem;
}
.app .active {
  background-color: var(--sec-color);
}
.app .row {
  justify-content: center;
}
/* .app__imgs .actv{
    height: 400px;
    margin-top: -2rem;
    object-fit: cover;
} */
/************** End App  ****************/
/************** Start Pricing  ****************/
.Pricing {
  background-color: #f5f9fc;
}
.Pricing__articles {
  padding-bottom: 10rem;
}
.Pricing__articles__cart {
  width: 25%;
  border: solid 1px #eee;
  border-radius: 24px 24px 24px 0;
  background-color: #fff;
  text-align: center;
}
.Pricing__articles__cart__text {
  padding: 2rem 0;
}
.Pricing__articles__cart__text h3 {
  color: var(--main-color);
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
}
.Pricing__articles__cart__text h2 {
  color: var(--sec-color);
  font-size: 2rem;
}
.Pricing__articles__cart__list li {
  border-top: #eee 1px solid;
  padding: 10px 0;
}
.Pricing__articles__cart__list .select {
  background-color: #726a84;
  border-radius: 0 0 24px 0;
  padding: 1rem;
  transition: 0.5s;
  cursor: pointer;
}
.Pricing__articles__cart:hover .select {
  background-color: #a865e1;
}
.Pricing__articles__cart__text.active {
  background-color: #a865e1;
  border-radius: 24px 24px 0 0;
}
.Pricing__articles__cart__text.active h2,
.Pricing__articles__cart__text.active h3 {
  color: #fff;
}
.Pricing__articles__cart__list .activ-link {
  background-color: #a865e1;
  border-radius: 0 0 24px 0;
  padding: 1rem;
}
/************** End Pricing  ****************/
/************** Start testimonial  ****************/
.testimonials {
  text-align: center;
}
.testimonials p {
  width: 70%;
  margin: 1.5rem auto;
}
.testimonials i {
  color: var(--main-color);
}
.testimonials .row {
  justify-content: center;
  align-items: center;
}
.testimonials__stars i {
  color: #f1b922;
  font-size: 1rem;
  padding-top: 1em;
}
.testimonials h3 {
  color: var(--main-color);
}
.testimonials__imgs__client img {
  border: 3px #fff solid;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  margin: 0.5rem;
}
.testimonials__imgs i {
  width: 12%;
  font-size: 1.6rem;
  margin: 1.7rem 0 0;
  color: grey;
}
.testimonials__circle li span {
  border: 1px grey solid;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0.5em;
}
.testimonials__circle li .active-circle {
  background-color: var(--sec-color);
  border: 1px transparent solid;
}
/************** End testimonial  ****************/
/************** Start NAv  ****************/
.joining {
  background: linear-gradient(to left, #7873ed, #a865e1);
  color: #fff;
}
.joining__text {
  width: 60%;
}
.joining__text h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.joining__text p {
  font-weight: 300;
}
.joining .btn {
  background-color: #fff;
  color: var(--sec-color);
  transition: 0.5s;
}
.joining .btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
/************** End NAv  ****************/
/************** Start team  ****************/
.team__box-holder__member .row {
  justify-content: center;
}
.team__box_holder__member__links {
  text-align: center;
}
.team__box_holder__member__links i {
  margin-right: 1rem;
  border-radius: 10px 10px 10px 0;
  color: #fff;
  background-color: var(--main-color);
  /*padding: 10px 15px;*/
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.team img {
  display: block;
}
.team__box-holder__member {
  width: 24%;
  position: relative;
}
.team__box-holder__member__img {
  position: relative;
}
.team__box-holder__member__img img {
  border-radius: 24px 24px 24px 0;
}
.team__box_holder__member__links {
  position: absolute;
  top: 25%;
  left: 12%;
  z-index: 3;
  opacity: 0;
  transition: 0.5s;
}
.team .overlay {
  border-radius: 24px 24px 24px 0;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.team__box-holder__member__text {
  margin: 2rem 1rem;
}
.team__box-holder__member__text h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
}
.team__box-holder__member:hover .overlay {
  opacity: 0.5;
}
.team__box-holder__member:hover .team__box_holder__member__links {
  opacity: 1;
}
/************** End team  ****************/
/************** Start form  ****************/
/* footer .grid_container{
    display: grid;
    grid-gap: 50px;
} */
footer {
  background-color: #f5f9fc;
}
footer .row {
  align-items: start;
}
.footer__content {
  width: 50%;
}
.footer__form {
  width: 50%;
}

footer p {
  font-size: 1.1rem;
  margin-bottom: 5rem;
  line-height: 2rem;
}
footer h4 {
  font-size: 1.2rem;
  font-weight: 300;
}
footer span {
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.2rem;
}
footer input,
footer textarea {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 24px 24px 24px 0;
  background-color: #fff;
  color: rgb(24, 24, 24);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
}
footer .btn {
  width: 30%;
  background-color: var(--sec-color);
  color: #fff;
  border: transparent 1px solid;
}
footer .heading {
  text-align: left;
}
.footer .heading::after {
  margin: 15px 0;
}
/************** End form  ****************/
.icons-team {
  flex-wrap: nowrap;
  width: 85%;
}
/*media Query */

@media (max-width: 74.9375em) {
  .navbar__list {
    display: none;
  }
  .mobile__nav {
    display: flex;
    position: fixed;
    background: #fff;
    bottom: 8%;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1111;
  }
  .fixed__nav_link {
    color: var(--main-color);
  }
  .input-email {
    width: 90%;
    margin-bottom: 20px;
  }
  .achievement__data__content {
    text-align: center;
    width: 100% !important;
  }
  .achievement__data__content__detail {
    padding-left: unset;
  }
  .media {
    position: relative;
  }
  .media__play i {
    position: absolute;
    top: 10rem !important;
    left: 20rem !important;
    z-index: 5;
  }
  .proposition__text__apps__android,
  .proposition__text__apps__ios {
    margin-bottom: 25px;
    margin-top: 30px;
  }

  .no-wrap {
    flex-wrap: nowrap;
  }
}
@media (max-width: 47.9375em) {
  .navbar__list {
    display: none;
  }
  .mobile__nav {
    display: flex;
    position: fixed;
    background: #fff;
    bottom: 8%;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1111;
  }
  .fixed__nav_link {
    color: var(--main-color);
  }
  .input-email {
    width: 90%;
    margin-bottom: 20px;
  }
  .achievement__data__content {
    text-align: center;
    width: 100% !important;
  }
  .achievement__data__content__detail {
    padding-left: unset;
  }
  .media {
    position: relative;
  }
  .media__play i {
    position: absolute;
    top: 10rem !important;
    left: 14rem !important;
    z-index: 5;
  }
  .proposition__text__apps__android,
  .proposition__text__apps__ios {
    margin-bottom: 25px;
    margin-top: 30px;
  }
  .no-wrap {
    flex-wrap: nowrap;
  }
}
